
body {
   font-family: Nunito;
   font-size: 14px;
   color: #383838;
   overflow-x: hidden;
}

.cat-label {
  margin-left: 5px;
}

.cat-label:hover {
  cursor: pointer;
  font-weight: bold;
}

.tick {
  font-family: Nunito;
  font-size: 14px;
  color: #383838;
}
