
body {
   font-family: Nunito;
   font-size: 14px;
   color: #383838;
   overflow-x: hidden;
   overflow-y: scroll;
}

.cat-label {
  margin-left: 5px;
}

.cat-label:hover {
  cursor: pointer;
  font-weight: bold;
}

.tick {
  font-family: Nunito;
  font-size: 14px;
  color: #383838;
}

.mode-icon {
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  margin-bottom: 1vh;
  text-align: center;
  font-size: 28px;
}

.mode-icon:hover {
  cursor: pointer;
}


.fa-code, .fa-pen, .fa-question-circle{
  padding-top: 1vh;
}

.fa-question-circle:hover {
  color: rgb(236,12,41);
}




.mode {

  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -ms-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#timeline svg {
  background-color: white
}

#ZoomContainer {
  pointer-events: none;
}

.img-container {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
}

.img-container img {
  max-height:90vh;
  width: auto;
}

.inactive .zoom-container {
  pointer-events: none;
}


#mode-toggle {
  font-size: 18px;
  position: fixed;
  z-index: 999;
  top: 10px;
  right: 15px;
}

.about-modal-content {
  padding: 3vh;
  position: relative;
}

#about-blurb {
  padding: 2vh;
}

.about-modal-content #close-modal {
    position: absolute;
    top: 2vh;
    right: 2vh;
    font-size: 25px;
    color: #646464;
}

.about-modal-content #close-modal:hover {
      cursor: pointer;
      color: black;
}
